# Assignment: Build a Regression Model in Keras

### Assignment Environment Setup

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

### A. Build a baseline model

In [11]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
# build the model
model = regression_model()

In [15]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=50, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/50
 - 1s - loss: 1637.9756 - val_loss: 1134.9448
Epoch 2/50
 - 0s - loss: 1500.5074 - val_loss: 1003.2692
Epoch 3/50
 - 0s - loss: 1283.0676 - val_loss: 811.5524
Epoch 4/50
 - 0s - loss: 970.5267 - val_loss: 576.8074
Epoch 5/50
 - 0s - loss: 621.0642 - val_loss: 361.4582
Epoch 6/50
 - 0s - loss: 360.1392 - val_loss: 234.2933
Epoch 7/50
 - 0s - loss: 258.2337 - val_loss: 190.3977
Epoch 8/50
 - 0s - loss: 230.2069 - val_loss: 178.0552
Epoch 9/50
 - 1s - loss: 215.9909 - val_loss: 171.3373
Epoch 10/50
 - 0s - loss: 205.0113 - val_loss: 168.0629
Epoch 11/50
 - 0s - loss: 196.9903 - val_loss: 164.5564
Epoch 12/50
 - 0s - loss: 190.3755 - val_loss: 165.5234
Epoch 13/50
 - 0s - loss: 184.6217 - val_loss: 164.5058
Epoch 14/50
 - 0s - loss: 178.6138 - val_loss: 164.2469
Epoch 15/50
 - 0s - loss: 174.1611 - val_loss: 162.9133
Epoch 16/50
 - 0s - loss: 169.8389 - val_loss: 165.0678
Epoch 17/50
 - 0s - loss: 166.2953 - val_loss: 163.8882
Epoch 18/50
 - 0s - loss: 163.5075 - val_loss: 162.4658
Epoch 19/50
 - 0s - loss: 160.6485 - val_loss: 165.2399
Epoch 20/50
 - 0s - loss: 157.2190 - val_loss: 164.9595
Epoch 21/50
 - 0s - loss: 155.5058 - val_loss: 163.2893
Epoch 22/50
 - 0s - loss: 152.7592 - val_loss: 163.1307
Epoch 23/50
 - 1s - loss: 149.7933 - val_loss: 163.7024
Epoch 24/50
 - 0s - loss: 148.1463 - val_loss: 166.7845
Epoch 25/50
 - 0s - loss: 145.5179 - val_loss: 163.9973
Epoch 26/50
 - 1s - loss: 144.2381 - val_loss: 165.1251
Epoch 27/50
 - 0s - loss: 142.2378 - val_loss: 163.4997
Epoch 28/50
 - 0s - loss: 141.1463 - val_loss: 166.2493
Epoch 29/50
 - 0s - loss: 138.6317 - val_loss: 164.6423
Epoch 30/50
 - 0s - loss: 137.0261 - val_loss: 164.1779
Epoch 31/50
 - 0s - loss: 135.7423 - val_loss: 162.1574
Epoch 32/50
 - 0s - loss: 133.6840 - val_loss: 165.8452
Epoch 33/50
 - 0s - loss: 131.7147 - val_loss: 161.6665
Epoch 34/50
 - 0s - loss: 130.1781 - val_loss: 163.7230
Epoch 35/50
 - 0s - loss: 128.8130 - val_loss: 166.9213
Epoch 36/50
 - 0s - loss: 126.3161 - val_loss: 161.0747
Epoch 37/50
 - 0s - loss: 124.7860 - val_loss: 162.9495
Epoch 38/50
 - 0s - loss: 123.1278 - val_loss: 162.8021
Epoch 39/50
 - 0s - loss: 120.7860 - val_loss: 162.0806
Epoch 40/50
 - 0s - loss: 118.9409 - val_loss: 161.0374
Epoch 41/50
 - 0s - loss: 117.3698 - val_loss: 155.4314
Epoch 42/50
 - 0s - loss: 115.7152 - val_loss: 158.3526
Epoch 43/50
 - 0s - loss: 112.8081 - val_loss: 156.3706
Epoch 44/50
 - 0s - loss: 110.0993 - val_loss: 154.4148
Epoch 45/50
 - 0s - loss: 107.0448 - val_loss: 153.3591
Epoch 46/50
 - 0s - loss: 104.2916 - val_loss: 154.6517
Epoch 47/50
 - 0s - loss: 100.2462 - val_loss: 151.7178
Epoch 48/50
 - 0s - loss: 97.6557 - val_loss: 149.4823
Epoch 49/50
 - 0s - loss: 94.9831 - val_loss: 149.7832
Epoch 50/50
 - 0s - loss: 91.7878 - val_loss: 149.1317